body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.mainButton{
    background-color: rgb(30, 202, 30);
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px green;
}.mainButton:hover{
    cursor: pointer;
    transform: scale(1.15);
}
.secundaryButton{
    background-color: rgb(76, 53, 139);
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px rgb(30, 36, 85);
}